extends layout

block content
  img(id="header-logo", src=dark_bg_logo)

  img#menu-btn(src=dropdown, alt="Open Menu", style="cursor: pointer;")

  #my-sidebar.sidebar
    a(href="/") Home Page
    a(href="/menu") Our Menu
    a(href="/about") About Us
    a(href="/reviews") Leave a Review
  
  h2 Meet The Team!
  
block scripts
  script(src="/javascripts/sidemenu.js")
