extends layout

block content
  img(class= "header-logo" src=dark_bg_logo)

  script(src="/javascripts/sidemenu.js" defer)
  img#menu-btn(src=dropdown alt="Open Menu" style="cursor: pointer;")

  //- The Side Menu
  #my-sidebar.sidebar
    //- FIX: Added id="close-btn" and removed old inline onclick
    a#close-btn.close-btn(href="javascript:void(0)") &times;
    a(href="#") Link 1
    a(href="#") Link 2
    a(href="#") Link 3
  

